h2 = @question.title
p = @question.body

= render 'answers/new'

= link_to 'Вопросы', questions_path
br
= link_to 'Редактировать', edit_question_path
= link_to 'Удалить', question_path, method: :delete



