development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "f6bdb3bc2de84c40afdd9eba528aebe8a9dfe1da3d93de602775f48d9966950d"
  signature_expiration: 3600 # one hour
